Order Deny,Allow
Allow from all

AcceptPathInfo Off

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule api/v1/(.*)$ api/v1/index.php?RESTurl=$1 [QSA,NC,L]

# forbid access to subdirectories
RewriteRule ^plugins(|/(.*))$ - [R=404]
RewriteRule ^inc(|/(.*))$ - [R=404]
RewriteRule ^tmp(|/(.*))$ - [R=404]
</IfModule>